<template>
  <component :is="layout">
    <router-view />
  </component>
</template>

<script>
import DefaultLayout from "./pages/pos/index";
export default {
  components: { DefaultLayout },
  computed: {
    layout() {
      return this.$route.meta.layout || "DefaultLayout";
    }
  }
};
</script>

<style lang="scss" scoped>
</style>
