
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~element-ui/lib/theme-chalk';

.el-dialog__header {
    background-color: #0e1f34 !important;
}

.el-dialog__title {
    color: #fff !important;
}

.el-dialog__footer {
    border-top: 1px solid #EBEEF5;
    padding: 10px 20px;
}

.no-padding-dialog > .el-dialog__body {
    padding: 0px;
}
//
