<template>
    <el-row :gutter="20" >
        <el-col :span="14">
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolorum voluptatibus, sunt obcaecati nisi iusto rem labore ipsa earum quas quam quo aliquam itaque incidunt dolores consequuntur odio tenetur iste!  -->
            <!-- <el-row :gutter="20" > -->
                 <el-col :span="6" v-for="(menu, index) in dataMenu" :key="index" style="margin-top:10px">
                    <el-button :body-style="{ padding: '0px'}"  v-on:dblclick="menu.qty += 1, counting(menu)">
                    <img :src="menu.image" class="image">
                    <div style="padding: 14px;" >
                        <span>{{menu.name}}</span>                        
                    </div>
                    </el-button>
                </el-col>
                <br>
            <!-- </el-row> -->
        </el-col>
        <el-col :span="10"> 
            <el-card class="box-card" >
            <div slot="header" class="clearfix">
                <el-row :gutter="20" >
                    <el-col :span="8">
                        <div><i class="el-icon-user-solid"></i></div>
                    </el-col>
                    <el-col :span="8">
                        <div style="font-size:20px;font-weight:bold">New Customer</div>
                    </el-col>
                    <el-col :span="8">
                        <div style="float:right"><i class="el-icon-s-unfold"></i></div>
                    </el-col>
                </el-row>
            </div>
            <div style="min-height:305px">
                <el-table
                :data="tableData"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="1"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="qty"
                    label=""
                    width="180">
                    <template slot-scope="scope">
                        <div v-if="scope.row.qty > 1">
                            <b>x{{scope.row.qty}}</b>
                        </div>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="price"
                    label="View Table">
                    <template slot-scope="scope">
                        <b>Rp. {{scope.row.price}}</b>
                    </template>
                </el-table-column>
                </el-table>
            </div>
            </el-card>
             <el-button style="width:100%" plain>Clear Sale</el-button>
            <el-card class="box-card" >
            <div >
                <el-row :gutter="20" style="padding-top:15px">
                    <el-col :span="12">
                        <el-button type="primary" style="width:100%" plain>Save Bill</el-button>
                    </el-col>                
                    <el-col :span="12">
                        <el-button type="primary" style="width:100%" plain>Pay BIll</el-button>
                    </el-col>
                </el-row>
            </div>
            </el-card>
            <div style="background-color:#494AAB;color:#FFF;padding-bottom:15px">
               <el-row :gutter="20" style="padding-top:15px">
                    <el-col :span="5">
                        <div>&nbsp;</div>
                    </el-col>                
                    <el-col :span="19">
                        <div style="font-size:25px;font-weight:bold">Charge Rp</div>
                    </el-col>
                </el-row>
            </div>
        </el-col>
    </el-row>
</template>

<style>
  .time {
    font-size: 13px;
    color: #999;
  }
  
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
      display: table;
      content: "";
  }
  
  .clearfix:after {
      clear: both
  }
</style>

<script>
export default {
  data() {
    return {      
      tableData:[],
      dataMenu:[
          {id:1,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cumi Tepung",price:"15000",qty:0},
          {id:2,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cumi Bakar",price:"15000",qty:0},
          {id:3,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cumi Cabe",price:"15000",qty:0},
          {id:4,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cumi & Kerang",price:"15000",qty:0},
          {id:5,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cah Kalan",price:"15000",qty:0},
          {id:6,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Tahu",price:"15000",qty:0},
          {id:7,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Cah Taoge",price:"15000",qty:0},
          {id:8,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Sayuran",price:"15000",qty:0},
          {id:9,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Kerang Bambu",price:"15000",qty:0},
          {id:10,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Kepiting Padang",price:"15000",qty:0},
          {id:11,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Gurame",price:"15000",qty:0},
          {id:12,image:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",name:"Ikan",price:"15000",qty:0},
        ],        
    };
  },
   methods: {
    counting: function(data){
        tableData.append(data);
        // alert("Sou uma funcao");
    }
  }
}
</script>